/* Hero -------------------------------------------------------------------------- */

.hero-section {
    display: flex;
    position: relative;
    height: 100vh;
    background: #0000 !important;
    justify-content: center;
    text-align: center;
}

