/* Hero -------------------------------------------------------------------------- */

.hero-section {
    display: flex;
    position: relative;
    height: 100vh;
    background: #0000 !important;
    justify-content: center;
    text-align: center;
}

.hero-section h1 {
    margin-bottom: 1rem;
    font-size: 7em;
}

.hero-section p {
    margin-bottom: 2.5rem;
    font-size: 1.5em;
}
