/* Hero -------------------------------------------------------------------------- */

.hero-section {
    display: flex;
    position: relative;
    height: 100vh;
    background: #0000 !important;
    justify-content: center;
    text-align: center;
}

.hero-inner {
    padding-top: 5rem;
    height: 50vh;
}

.parallax-slider {
    opacity: 0.5;
    padding: 0;
}

.hero-section h1 {
    margin-bottom: 1rem;
    font-size: 7em;
}

.hero-section p {
    margin-bottom: 2.5rem;
    font-size: 1.5em;
    color: var(--light) !important;
}

#contact-page .hero-section i {
    font-size: 1.5em;
    margin: 1rem 0.5rem;
}

@media only screen and (max-width: 960px) {
    .hero-section h1 { font-size: 5em;}
}

@media only screen and (max-width: 768px) {
    .parallax-slider { opacity: 0; }
    .hero-section h1 { font-size: 3.2em;}
    .hero-section p { font-size: 1em;}
    .hero-section::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: .4; 
        z-index: -1;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #home-page .hero-section::before {
        background: url(https://images.unsplash.com/photo-1655635949348-953b0e3c140a) no-repeat center center;
    }
    #publications-page .hero-section::before {
        background: url(https://images.unsplash.com/photo-1655993810480-c15dccf9b3a0) no-repeat center center;
    }
    #about-page .hero-section::before {
        background: url(https://images.unsplash.com/photo-1656331797721-b593b8f00297) no-repeat center center;
    }
    #contact-page .hero-section::before {
        background: url(https://images.unsplash.com/photo-1655474396177-e727349f44dc) no-repeat center center;
    }
    #error-page .hero-section::before {
        background: url(https://images.unsplash.com/photo-1530128051436-3ab3663a4683) no-repeat center center;
    }
}
