/* Nav --------------------------------------------------------------------------- */

.nav-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: var(--darkTranslucent) !important;
    font-family: 'Gruppo', sans-serif;
}

.nav-section > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-section .logo {
    max-height: 3rem;
    margin-left: 0.25rem;
}

.nav-section ul {
    display: flex;
    font-size: 1.25em;
    width: 40%;
    justify-content: space-around;
}

.nav-section ul li {
    margin: 0 0.5rem;
}

.nav-section .button {
    font-size: 1.2em;
    padding: 0rem 1rem 0.5 1rem;
}
