/* Nav --------------------------------------------------------------------------- */

.nav-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: var(--darkTranslucent) !important;
    font-family: 'Gruppo', sans-serif;
}

.nav-section > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-section .logo {
    max-height: 3rem;
    margin-left: 0.25rem;
}

.nav-section span {
    display: flex;
    width: 50%;
}

.nav-section ul {
    display: flex;
    width: 100%;
    font-size: 1.1em;
    justify-content: space-around;
}

.nav-section ul li {
    margin: 0 0.5rem;
}

.nav-section a {
    font-weight: 200;
}

.nav-section .button {
    font-size: 1.2em;
    padding: 0rem 1rem 0.5 1rem;
}

#menu {
    margin: 0.5em 0;
    align-self: flex-end;
    font-size: 1.5em;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .nav-section ul {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 600px) {
    .nav-section ul {
        opacity: 0;
        margin-top: -130%;
        transition: var(--transition);
        transition-timing-function: var(--transition-timing-function);
        pointer-events: none;
        font-size: 1.2em;
    }
    .nav-section ul.open{
        opacity: 1;
        margin-top: 0;
        pointer-events: auto;
    }
    .nav-section > * {
        align-items: flex-start;
    }
    .nav-section span {
        flex-direction: column;
    }
    .nav-section ul {
        flex-direction: column;
        position: relative;
        padding-bottom: 0.5rem;
        align-items: flex-end;
        text-align: right;
        width: 100%;
    }
    .nav-section ul li { margin: 0; }
    .nav-section ul li .button {
        margin: 0.5rem 0;
    }
}
