/* Products ---------------------------------------------------------------------- */

.products-section > * {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 6rem 2rem 2rem 2rem;
}

.products-toggle,
.products-items {
    width: 100%;
    max-width: 50%;
}

@media only screen and (max-width: 600px) {
    .products-section > * { 
        flex-direction: column; 
        padding: 2rem 2rem 0rem 2rem;
    }
    .products-toggle, .products-items { max-width: 100%;}
}

/* Column 1 - Products Items ----------------------------------------------------- */

.products-toggle {
    position: sticky !important;
    top: 10rem;
    max-height: 50vh;
    padding-right: 1rem;
}

#products-toggle-list {
    display: flex;
    flex-direction: column;
    margin-left: 0.35rem;
    padding-left: 1rem;
    border-left: solid 1px var(--green);
}

#products-toggle-list li {
    padding: 2rem 0 0 1rem;
    position: relative;
    margin-top: 0.25rem;
    margin-bottom: -0.75rem;
}

#products-toggle-list li::before {
    content: '';
    display: block;
    position: absolute;
    left: -1rem;
    top: 2.7rem;
    width: 1rem;
    height: 1px;
    background: var(--green);
}

#products-toggle-list li a {
    font-size: 0.9em;
}

#products-toggle-list li.currentProductShown a {
    color: (--grey) !important;
}

/* .currentProductShown {
    font-weight: 600;
} */

@media only screen and (max-width: 768px) {
    .products-toggle h2 {
        font-size: 3.5em;
    }
}

@media only screen and (max-width: 600px) {
    .products-toggle {
        position: sticky;
        top: calc(5rem + 0.2rem);
        max-height: 50vh;
        padding-right: 0;
    }
    .products-toggle h2 {
        margin-top: 0;
        padding-bottom: 2rem;
        background: var(--darkTranslucent);
        text-align: center;
    }
}

/* Column 2 - Products Items ----------------------------------------------------- */

.products-items {
    margin-top: -10rem;
}

.products-items > * {
    margin-top: 10rem;
    scroll-margin-top: 10rem !important;
}

.products-items > * > * {
    display: block;
    margin-bottom: 12rem;
    padding-bottom: 1rem;
    background: var(--light) !important;
    color: var(--dark) !important;
    border-radius: 0.25rem;
    overflow: hidden;
}

.products-items > * > *:last-child {
    margin-bottom: 4rem;
}

.products-items > * > *:hover {
    background: var(--lightTranslucent) !important;
    color: var(--green) !important;
}

.products-items > * > * h3,
.products-items > * > * p {
    margin: 1rem 2rem;
}

.products-items > * > * h3 {
    font-weight: 600;
    font-size: 2.2em;
}

.products-items > * > * img {
    width: 100%;
    max-height: 15rem;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 600px) {
    .products-items { margin-top: 0; }
    .products-items > * {
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .products-items > * > * { margin-bottom: 0; }
    .products-items > * > * h3 { font-size: 1.8em; }
    .products-items > * > * h3,
    .products-items > * > * p {
        margin: 1rem;
    }
}
