@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Mulish:ital,wght@0,200;1,200&display=swap');
@import "reset.css"; 
@import "./sections/nav.css";
@import "./sections/hero.css";
@import "./sections/products.css";
@import "./sections/announcements.css";
@import "./sections/footer.css";

:root {
  --dark: #1F1E1E;
  --darkTranslucent: #1F1E1EEE;
  --green: #4D652F;
  --greenTranslucent: #4D652Faa;
  --grey: #A69F9F;
  --light: #FAFAFA;
  --lightTranslucent: #FAFAFAE8;

  --transition: all 0.175s cubic-bezier(0.5, 0, 0.5, 1);
  --transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: 'Mulish', sans-serif;
  background: var(--dark);
  color: var(--light);
}

body > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body > div > * {
  max-width: 1024px;
  width: 100%;
  padding: 2rem;
}

.parallax-slider {
  opacity: 0.5;
  padding: 0;
}

/* Light Scheme ------------------------------------------------------------------ */

.scheme-light {
  background: var(--light);
  color: var(--dark);
}

.scheme-light a { color: var(--green); }
.scheme-light a:hover { color: var(--dark); }

.scheme-light a.button, 
.scheme-light .button, 
.scheme-light button {
  border: 0.2rem solid var(--green);
  color: var(--green);
}

.scheme-light a.button::before, 
.scheme-light .button::before, 
.scheme-light button::before {
  background: var(--grey); /* HAS BUG !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/* Dark Scheme ------------------------------------------------------------------- */

.scheme-dark {
  background: var(--dark);
  color: var(--light);
}

.scheme-dark a { color: var(--lightTranslucent); }
.scheme-dark a:hover { color: #fff; }

.scheme-dark a.button, .scheme-dark .button, .scheme-dark button {
  border: 0.2rem solid var(--light);
  color: var(--light);
}

.scheme-dark input {
  border: 0.2rem solid var(--light);
  background: var(--dark);
  color: var(--light);
}

.scheme-dark a.button::before, 
.scheme-dark .button::before, 
.scheme-dark button::before {
  background: var(--green);
}

.scheme-dark ::placeholder,
.scheme-dark ::-ms-input-placeholder {
  color: var(--lightTranslucent);
  opacity: 1;
}

.scheme-dark input:focus {
  background-color: var(--green);
}

/* Typography -------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gruppo', sans-serif;
}

h1 { font-size: 6em; }
h2 { font-size: 4em; }
h3 { font-size: 3em; }
h4 { font-size: 2em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1.2em; }

p, li {
  line-height: 1.5em;
}

a { 
  text-decoration: none; 
  transition: var(--transition);
  transition-timing-function: var(--transition-timing-function);
}

a.button, .button, button {
  position: relative;
  display: inline-block;
  padding: 0.25rem 1rem 0.5rem 1rem;
  font-family: 'Gruppo', sans-serif;
  outline: none;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1em;
  cursor: pointer;
}

a.button::before, 
.button::before, 
button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
}

.button::before, button::before {
  transition: var(--transition);
  transition-timing-function: var(--transition-timing-function);
}

a.button:hover::before, 
.button:hover::before, 
button:hover::before {
  width: 100%;
}

::selection {
  background: var(--greenTranslucent);
  color: var(--light);
}

.showOnMobile { display: none !important; }
.hideOnMobile { display: flex !important; }

@media only screen and (max-width: 600px) {
  .showOnMobile { display: flex !important; }
  .hideOnMobile { display: none !important; }
}
